.debutform {
	margin-top: 40px;
}


.titreform {
	border: 5px solid #B71C1C;
	background-color: #696969;
	font-size: 30px;
	font-color: white;
	text-align: center;
	font-family: cursive;
}